@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  align-content: center;
  background-image: url("../../dist/stars.png");
  background-position: center;
  background-size: cover;
  animation-name: appear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

h1 {
  color: white;
  font-size: 50px;
  width: 100%;
  text-align: center;
  margin: 10px
}